<!DOCTYPE html>
<html lang="es">

<%- include('../admin/head') %>
<body>
    <!-- header section starts -->
    <%- include('../admin/header') %>
    <!-- header section ends -->
    <main class="panel-admin">
        <section class="options-info">
            <div>
                <h3>233</h3>
                <p>productos</p>
                <span>inhabilitado: 10</span>
            </div>
            <div>
                <h3>90</h3>
                <p>productos en local</p>
                <span>inhabilitado: 2</span>
            </div>
            <div>
                <h3>50</h3>
                <p>usuarios</p>
            </div>
        </section>
        <section class="tablas">

            <h3>Productos</h3>

            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>category</th>
                        <th>subcategory</th>
                        <th>name</th>
                        <th>stock</th>
                        <th>status</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                    
                    <tr>
                        <td data-label="ID"><%= product.id %></td>
                        <td data-label="CATEGORY"><%= product.category %></td>
                        <td data-label="SUBCATEGORY"><%= product.subcategory %></td>
                        <td data-label="NAME"><%= product.name %></td>
                        <td data-label="STOCK"><%= product.stock %></td>
                        <td data-label="STATUS">
                            <% if (product.status == true) { %>
                                Active
                            <% } else { %>
                                Inactive
                            <% } %> 
                        </td>
                        <td data-label="ACTION">
                            <!-- los dos links son mostrar en caso de estar  -->
                            <a href="/" style="display: none;"><i class="fas fa-eye-slash"></i></a>
                            <a href="/"><i class="fas fa-eye"></i></a>
                            <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                            <a href="/admin/product/<%= product.id %>"><i class="fas fa-edit"></i></a>
                            <!-- el siguiente link es para eliminar un producto, con determinado id -->
                            <form action="/admin/product/<%= product.id %>?_method=DELETE" method="POST">
                                <button type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>

    </main>
    <script src="/js/headerAdmin.js"></script>
</body>

</html>