<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

<body class="home">

    <!-- header section starts -->
    <%- include('../partials/header') %>
    <!-- header section ends -->

    <!-- home section stars -->
    <main class="userForm" id="userForms">
        <form class="form-container" action="/users/login" method="POST">
            <h3>Login</h3>
            
            <div>
                <label for="email">email</label>
                <input type="email" name="email" placeholder="email" id="email" value="<%= locals.old && old.email %>">
                <% if (typeof errors != "undefined" && errors.email) { %>
                    <span class="text-danger"><%= errors.email.msg %> </span>
                <% } %>
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" name="password" placeholder="password" id="password" >
                <% if (typeof errors != "undefined" && errors.password) { %>
                    <span class="text-danger"><%= errors.password.msg %> </span>
                <% } %>
            </div>
            
                <label for="remember">remember</label>
                <input type="checkbox" name="remember" id="remember">


            <button type="submit">login</button>
        </form>

    </main>
    <!-- home section ends -->


    <script src="/js/header.js"></script>
</body>

</html>