<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

<body class="home">

    <!-- header section starts -->
    <%- include('../partials/header') %>
    <!-- header section ends -->

    <!-- home section stars -->
    <main class="userForm" id="userForms">
        <form class="form-container" action="/users/register" method="POST">
            <h3>Register</h3>
            <div>
                <label for="name">name</label>
                <input type="text" name="name" placeholder="name" id="name" value="<%= locals.old && old.name %>">
                <% if (typeof errors != "undefined" && errors.name) { %>
                    <span class="text-danger"><%= errors.name.msg %> </span>
                <% } %>
            </div>
            <div>
                <label for="lastname">lastname</label>
                <input type="text" name="lastname" placeholder="lastname" id="lastname" value="<%= locals.old && old.lastname %>">
                <% if (typeof errors != "undefined" && errors.lastname) { %>
                    <span class="text-danger"><%= errors.lastname.msg %> </span>
                <% } %>
            </div>
            <div>
                <label for="email">email</label>
                <input type="email" name="email" placeholder="email" id="email" value="<%= locals.old && old.email %>">
                <% if (typeof errors != "undefined" && errors.email) { %>
                    <span class="text-danger"><%= errors.email.msg %> </span>
                <% } %>
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" name="password" placeholder="password" id="password" >
                <% if (typeof errors != "undefined" && errors.password) { %>
                    <span class="text-danger"><%= errors.password.msg %> </span>
                <% } %>
            </div>
            <div>
                <label for="password2">password</label>
                <input type="password" name="password2" placeholder="confirme password" id="password2">
                <% if (typeof errors != "undefined" && errors.password2) { %>
                    <span class="text-danger"><%= errors.password2.msg %> </span>
                <% } %>
            </div>

            <button type="submit">register</button>
        </form>

    </main>
    <!-- home section ends -->


    <script src="/js/header.js"></script>
</body>

</html>